@model List<CoreApp.Models.Tv> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tv</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Markasi</th>
        <th>Model</th>
        <th>Inch</th>
        <th>Alis qiymeti</th>
        <th>Satis qiymeti</th>
        <th>Endirimli qiymeti</th>
        <th>Barkodu</th>
        <th>Yaradilma tarixi</th>
        <th>Yenilenme tarixi</th>
        <th>Silinme tarixi</th>
        <th>Smart</th>
        <th>HDMDI</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ID</th>
            <th>@item.Brand</th>
            <th>@item.Model</th>
            <th>@item.Inch</th>
            <th>@item.PurchasePrice</th>
            <th>@item.SalePrice</th>
            <th>@item.DiscountPrice</th>
            <th>@item.Barcode</th>
            <th>@item.CreateDate</th>
            <th>@item.UpdatedDate</th>
            <th>@item.DeletedDate</th>
            <th>@item.SmartTv</th>
            <th>@item.HDMI</th>
            <th>  <a href="/TvCon/TvDelete/@item.ID" class="btn btn-danger">Delete</a></th>
            <th>  <a href="/TvCon/TvGet/@item.ID" class="btn btn-warning">Update</a></th>

        </tr>

    }


</table>
<a href="/TvCon/AddTv" class="btn btn-primary">Laptop add</a>

